* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #202842;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;



}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 75vw;
    padding: 25px 35px;
    box-shadow: 3px 1px 7px #c3c3c3;
    border-radius: 15px;
    background-color: #f9f9f9;

}

.cards {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 1px 7px #c3c3c3;
    color: #2b3658;
    min-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.card-title {
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-subtitle {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.price {
    font-size: 35px;
    font-weight: 500;
    color: #2b3658;
    margin-top: 10px;
}

.feature-item {
    list-style: none;
    margin-top: 12px;
    font-size: 15px;
}

.feature-item i {
    margin-right: 10px;
}

.suggested {
    background-color: #2b3658;
    color: white;
}

.suggested .price {
    color: white;
}

.cards button {
    border: 0;
    background-color: #2b3658;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-align: center;
    margin: 25px auto 10px;


}
button:hover{
    cursor: pointer;
}
.suggested button{
    color: #2b3658;
    background-color: white;
}